DSA/
'linux sessions'/
*.exe
*'study material'/
*some_extra_questions/
*.vscode/
*.png
E:\proffessional stuff\scaledge\training material\git_training/codewithharry/
E:\proffessional stuff\scaledge\training material\git_training/cloning example/
E:\proffessional stuff\scaledge\training material\git_training/screenshots/